:root {
  --primary: #605858b9;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  font-size: 62%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1.2rem;
  z-index: 1000;
  box-shadow: 0 0.3rem 0.5rem rgb(187, 181, 181);
  background-color: #fffffff1;
}
.menu a {
  font-size: 2rem;
  padding: 0 1.5rem;
  color: var(--primary);
  font-weight: bolder;
}
.menu a:hover {
  text-shadow: 0 0.5rem 1rem var(--primary);
}
.icons a:hover {
  color: grey;
}
.icons a {
  color: var(--primary);
  font-size: 2.5rem;
  margin-left: 1.5rem;
}
.brand-name {
  font-size: 3rem;
  color: var(--primary);
  font-style: italic;
}
.slogan {
  margin-top: 100px;
}
#box {
  display: none;
}
.fas.fa-bars {
  font-size: 3rem;
  color: #605858b9;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border: 0.3rem solid var(--primary);
  display: none;
}
/* home page style */
.home {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background: url(./flower.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
.home .content {
  max-width: 50rem;
}
.home .content h2 {
  position: relative;
  left: 10rem;
  bottom: 10rem;
  font-size: 4rem;
  color: var(--primary);
  font-style: italic;
}
.home .content a {
  position: relative;
  left: 10rem;
  bottom: 8rem;
  display: inline-block;
  text-align: center;
  padding: 0.9rem 3.5rem;
  cursor: pointer;
  color: white;
  background-color: var(--primary);
  border-radius: 5rem;
  box-shadow: 0 0.5rem 2rem var(--primary);
  font-size: 1.5rem;
  font-style: italic;
  font-weight: bolder;
}
.home .content a:hover {
  background-color: white;
  color: var(--primary);
  transition: 0.6s linear;
  font-size: 1.7rem;
}
/* our garden page style */
.caption {
  width: 90rem;
  font-style: italic;
  font-weight: bolder;
  font-size: 4rem;
  color: #c5d7cb;
  display: inline-block;
  position: absolute;
  top: 80rem;
  left: 27rem;
  text-shadow: 0 1rem 1rem #2c2929b9;
  text-align: center;
  z-index: 10;
}

.view-photo {
  max-width: 100%;
  max-width: 100%;
}

/* products  page style */
.products .container {
  display: inline-block;
  position: relative;
  justify-items: center;
  box-shadow: 0 0.5rem 1.5rem grey;
  border-radius: 0.5rem;
  border: 0.1rem solid grey;
  width: 30vw;
  height: 60vh;
  padding: 1rem;
  margin-top: 4rem;
  margin-left: 2rem;
  margin-right: 1.5rem;
}

.flower-image {
  width: 15vw;
  height: 30vh;
}

.flower-header {
  display: block;
  position: relative;
  left: 50rem;
  top: 3rem;
  font-size: 3rem;
  font-style: italic;
  color: grey;
  text-shadow: 0 0.5rem 1.5rem rgb(151, 139, 139);
}

.discount {
  font-size: 2.5rem;
  position: relative;
  right: 15rem;
  color: grey;
  font-weight: bolder;
}
span {
  font-size: 2rem;
  text-decoration: line-through rgb(224, 48, 48);
}
.flower-type {
  font-size: 2.5rem;
  font-style: italic;
  color: grey;
  margin-bottom: 1rem;
}

.price {
  font-size: 3rem;
  margin-bottom: 2rem;
}

/* __________________________________________________________________________________________________ */
/* media query */
@media (max-width: 768px) {
  .navbar .brand-name,
  .icons .fas,
  .navbar .fa-bars {
    font-size: 2rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    padding: 0;
  }
  .home .content h2 {
    position: relative;
    left: 34rem;
    bottom: 10rem;
    width: 20rem;
    font-size: 2rem;
    text-align: left;
  }
  .home .content a {
    position: relative;
    left: 34rem;
    bottom: 9rem;
    font-size: 1rem;
  }
  .home .content a:hover {
    background-color: white;
    color: var(--primary);
    transition: 0.5s linear;
    font-size: 1.1rem;
  }
  .fas.fa-bars {
    display: block;
  }
  .menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: clip-path 0.5s ease;
  }
  #box:checked ~ .menu {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  .menu a {
    font-size: 1.5rem;
    padding: 1rem;
    margin-top: 0.5rem;
    margin-right: 75%;
    background: rgba(255, 255, 255, 0.511);
    border: 0.2rem solid;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 0.5rem;
    box-shadow: 0.3rem 0.3rem 1rem grey;
  }
  .brand-name {
    font-size: 4.5rem;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 951px) {
  html {
    font-size: 55%;
  }

  .view-photo {
    min-height: 100vh;
    min-width: 100vw;
    margin-bottom: 2rem;
  }

  .caption {
    width: 65rem;
    font-size: 3rem;
    position: absolute;
    top: 110rem;
    left: 3rem;
  }

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    margin-left: 8rem;
    max-width: 100vw;
    margin-bottom: 2rem;
  }

  .menu a {
    color: gray;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    border: none;
    box-shadow: 0.3rem 0.3rem 1rem #63abd87d;
    margin: 0.4rem;
    font-style: italic;
  }

  .home .content h2 {
    position: relative;
    left: 4rem;
    bottom: 10rem;
    font-size: 3rem;
    text-align: left;
  }
  .home .content a {
    position: relative;
    left: 4rem;
    bottom: 9rem;
    font-size: 1.5rem;
  }
}
